.button{
    border-radius: 20px;
    border: none;
    color: var(--text-color-light);
    padding: 0.5rem 1rem;
    font-size: 1rem;

    cursor: pointer;
    transition: background .5s ease;
}

.accent{
    background: var(--primary-color);
}

.accent:hover{
    background: var(--primary-color-hover);
}
