.button{
    border-radius: 29px;
    border: none;
    color: var(--text-color-light);
    font-family: inherit;
    font-size: 1rem;
    font-style: normal;

    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;

    cursor: pointer;
    transition: background .5s ease;
}

.button img{
    margin-left: -0.8rem;
}

.accent{
    background: var(--primary-color);
}

.accent:hover{
    background: var(--primary-color-hover);
}

.small{
    padding: 10px 25px;
}

.big{
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 20px 60px;
}
