.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 3rem;
}

.headerInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

.headerImg{
    position: absolute;
    padding-left: 1rem;
}

.headerInp{
    padding-left: 2.5rem;
}

.headerInp:placeholder-shown{
    padding-left: 2.5rem;
}