:root {
    --font: "Open Sans", sans-serif;
    --primary-color: #a7148c; 
    --primary-color-hover: #db15b7; 
    --text-color: #000000;
    --text-color-light: #ffffff;
    --text-color-second: #5b5b5b;
    --bc-color: #ffffff;
    --separatop: #d4d6e0;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}